<div class="page-header">
  <h1>New Club</h1>
</div>



<div class="panel panel-default">
  <div class="panel-body">
    <h5>Winery:</h5>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="clubs_new_wineries_heading">
        <h5 class="panel-title">
          <a role="button" data-toggle="collapse" href="#clubs_new_wineries_panel"><%= @club.winery.name %><span class="glyphicon glyphicon-chevron-down pull-right"></span></a>
        </h5>
      </div>
      <div id="clubs_new_wineries_panel" class="panel-collapse collapse out">
        <%= render partial: "shared/list_bar", locals: {page: "clubs_new_wineries"} %>
        <div id="clubs_new_wineries_list" class="list-group"></div>
      </div>
    </div>
    <%= form_for @club do |f| %>
    <%= f.hidden_field :winery_id %>
    <div class="form-group">
      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>
    </div>
    <div class="form-group">
      <%= f.label :description %>
      <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="panel-footer">
    <%= f.submit "Submit", class: "btn btn-primary" %>
  </div>
</div>



<% end %>

</div>
