<%= render partial: 'shared/nav' %>

<%= render partial: 'shared/notices' %>

<div class="page-header">
  <h1>Dashboard <small>for <%= current_user.fullname %></small></h1>
</div>

<div class="row">
  <div class="col-md-6"><h3>Other Content</h3></div>
  <div class="col-md-6">
    <h3>Current Club Memberships</h3>
    <div class="list-group">
    <% @memberships.each do |m| %>
      <%= link_to(m, {class: "list-group-item"}) do %>
        <h4><%= m.club.winery.name %> <small><%= m.club.name %></small></h4>
        <% if !current_user.member? %>
          <h5>Member: <%= m.user.fullname %></h5>
        <% end%>
        <p><%= m.club.description %></p>
      <% end %>
    <% end %>
    </div>
  </div>
</div>
