<div class="page-header">
  <h1>Users</h1>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Members</h3>
    <div class="list-group">
      <% @members.each do |m| %>
        <%= link_to(m, {class: "list-group-item"}) do %>
          <h4><%= m.fullname %></h4>
          <p><%= m.email %></p>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <h3>Managers</h3>
    <div class="list-group">
      <% @managers.each do |m| %>
        <%= link_to(m, {class: "list-group-item"}) do %>
          <h4><%= m.fullname %></h4>
          <p><%= m.email %></p>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
