<div class="well">
  <h4 class="panel-title">We found <%= @clubs.count %> Wine Clubs for email <%= @user.email %>.</h4>
  <p>To begin managing your clubs we'll need you to create a login for your Companion account. This account will give you access to all of your clubs.</p>
</div>

<% @clubs.each do |club| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title"><%= club.winery.name %></h4>
    </div>
    <div class="panel-body">
      <h5><%= club.name %> <small>joined <%= club.created_at.strftime("%B %e, %Y") %></small> </h5>
    </div>
  </div>
<% end %>

<%= link_to "Create Account", new_user_registration_path, class: "btn btn-primary btn-lg" %>
