<div class="page-header">
  <h1>New Account</h1>
</div>

<div class="panel panel-default">
  <div class="panel-body">
    <%= form_for @account, html: {class: "form-inline"} do |f| %>
      <div class="form-group">
        <label for="winery">Winery</label>
        <input type="text" class="form-control" id="account_winery_name" disabled>
        <%= f.hidden_field :winery_id %>
      </div>
      <div class="form-group">
        <label for="manager">Manager</label>
        <input type="text" class="form-control" id="account_user_name" disabled>
        <%= f.hidden_field :user_id %>
      </div>
      <%= f.submit "Add Account", class: "add_account btn btn-success pull-right" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Wineries</h3></div>
      <%= render partial: "shared/list_bar" %>
      <div class="panel-body">
        <div class="list-group">
          <% @wineries.each do |w| %>
            <a href="" class="wineries list-group-item" data-id="<%= w.id %>" data-name="<%= w.name %>"><%= w.name %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading"><h3 class="panel-title">Managers</h3></div>
      <%= render partial: "shared/list_bar" %>
      <div class="panel-body">
        <div class="list-group">
          <% @managers.each do |m| %>
            <a href="" class="managers list-group-item" data-id="<%= m.id %>" data-name="<%= m.fullname %>"><%= m.fullname %></a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
